:root{
  --mainBlue:#2a2a72;
  --lightBlue:#BCD4DE;
  --mainWhite:#ffffff;
  --mainGrey:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
  --mainPurple: #CFC6DA;
}

body{
  font-family: "Oswald", sens-serif!important;
  background: var(--mainGrey)!important;
  color:var(--mainDark)!important;
}
.text-title{
  font-family: 'Oswald', cursive;
  text-transform: uppercase;
}
.text-blue{color:var(--mainBlue);}
.text-bright{color:var(--lightBlue);}
.btn-black{
  background: transparent;
  text-transform: uppercase;
  font-size: 0.8rem!important;
  color: var(--mainDark)!important;
  border-radius: 0!important;
  border: 0.1rem solid var(--mainDark)!important;
}
.btn-black:hover{
  background: var(--mainDark)!important;
  color: var(--mainWhite)!important;
}

.cart-icon img{
  width:35px;
}

button{
  appearance: none;
  font-size: 1.3rem;
  min-width: 120px;
  background: none;
  text-transform: uppercase;
}

footer{
  background: var(--mainPurple);
  padding: 0.5rem 1rem;
  height: 200px;
}